header{
    .top{
        .swiper{
            width: 100%;
            height: 60px;
            .swiper-slide{
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
        .links{
            height: 40px;
            color: white;
            background-color: #ED1C24;
        }
    }
    .mid{
        .container{
            display: flex;
            align-items: center;
            justify-content: space-between;


            .search{
                form{
                    display: flex;
                    width: 700px;
                    input{
                        flex: 1;
                        border: none;
                        background-color: #ededed;
                        padding: 10px 20px;
                        border-bottom-left-radius: 3px;
                        border-top-left-radius: 3px;

                    }
                    .search-btn{
                        border: none;
                        padding: 10px 20px;
                        color: #fff;
                        background-color: #ED1C24;
                        border-radius: 3px;
                    }
                }
            }
        }
    }
    // .bottom{
        
    // }
}