header{
    .top{
        .swiper{
            width: 100%;
            height: 60px;
            .swiper-slide{
                background-repeat: no-repeat;
                background-position: center;
                background-size: cover;
            }
        }
        .links{
            background-color: #ED1C24;
            &-wrapper{
                height: 40px;
                display: flex;
                align-items: center;
                justify-content: end;
                a{
                    color: white;
                    padding: 0 15px;
                }
            }
        }
    }
    .mid{

    }
    .bottom{
        
    }
}